pylance
sqlalchemy
fastAPI
pydantic
fastapi_filter
fastapi_sa_orm_filter
cython
click
faker
uvicorn
black
psycopg2
httpx
pytest
cython<3.0.0 --no-build-isolation
pyyaml==6.0 --no-build-isolation
docker-compose
docker